

/*CSS baggrundsbillede*/

.bg-img {
	position: fixed;
        background: src="Sound-and-Music-Computing-filer/88790_spilled--se.jpg";
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

body.ie8 .bg-img, body.ie7 .bg-img, body.ie6 .bg-img{
	/* < ie9  */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Sound-and-Music-Computing-filer/88790_spilled--se.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Sound-and-Music-Computing-filer/88790_spilled--se.jpg', sizingMethod='scale')";
}
