

/*CSS baggrundsbillede*/

.bg-img {
	position: fixed;
        background-image: url("http://www.design2013.aau.dk/digitalAssets/88/88790_spilled--se.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
