/* Custom-colors 
	Primary color: #b70d32;
	Secondary color: #fd5c81;
	Text color: #b70d32;
 */

h1,
h2,
h3,
a,
blockquote {
  color: #b70d32;
}

.color {
  background-color: #b70d32;
}

.color a:hover {
  color: #fd5c81;
}

/* smallButton colors */
.smallButton:after,
.smallButton, 
.pagination a {
	color: #b70d32;
}

.color .smallButton:hover,
.color .smallButton:hover:after,
.color .pagination a:hover
	{
	color: #fd5c81;
}

/* Input fields*/
.inputField {
	border-color: #b70d32;
}

/* fade */ 
.color .fade:after {
	/* Gradient in browsers */
	background: -moz-linear-gradient(top,  rgba(183,13,50,0) 72%, rgba(183,13,50,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,rgba(183,13,50,0)), color-stop(100%,rgba(183,13,50,1)));
	background: -webkit-linear-gradient(top,  rgba(183,13,50,0) 72%,rgba(183,13,50,1) 100%);
	background: -o-linear-gradient(top,  rgba(183,13,50,0) 72%,rgba(183,13,50,1) 100%);
	background: -ms-linear-gradient(top,  rgba(183,13,50,0) 72%,rgba(183,13,50,1) 100%);
	background: linear-gradient(top,  rgba(183,13,50,0) 72%,rgba(183,13,50,1) 100%);
}

